body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    margin: 0 auto;
}


.first-page{
    background-image: url(./image/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
}

.header-logo{
    margin-top: 55px;
    margin-left: 40px;
}

header{
    display: flex;
    justify-content: space-between;
}

.navbar{
    margin-left: 600px;
}

.navbar img{
    margin-top: -15px;
}

.navbar ul>li{
    margin: 30px;
}

nav{
    display: flex;
}

nav ul,li{
    margin-top: 20px;
    margin-right: 90px;
    padding: 0;
    display: flex;
}

.profile-text{
    font-family: Poppins;
    font-size: 80px;
    font-weight: 600;
    line-height: 105px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 1175px;
    padding-top: 465px;

}

.arrow{
    margin-left: 2140px;
    margin-top: 320px
}
.group-2{
    width: 100%;
    display: flex;
}
.article-left{
    width: 50%;
    position: relative;
}
.article-right{
    width: 50%;
    position: relative;
}
.article-left img{
    width: 100%;
    position: absolute;
}
.article-right img{
    width: 100%;
    position: absolute;
}
.left-title{
    width: 298px;
    height: 72px;
    position: absolute;
    z-index: 1 ;
    top: 34px;
    left: 42px;
}
.group-2 h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
/* or 120% */

display: flex;
align-items: center;

color: #FFFFFF;
}
.right-title{
    width: 309px;
    height: 72px;
    position: absolute;
    z-index: 1;
    top: 34px;
    right: 30px;
}
.title{
    width: 100%;
}
.group-3{
    width: 100%;
    margin-top: 480px;
}
.title h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}
.section-top{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}
.section-bottom{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.article-1{
    position: relative;
}
.article1-title{
    position: absolute;
    bottom: 45px;
    /* left: 159px;
    right: 159px; */
    right: 150px;
}
.article-2{
    position: relative;
    background-color: #250ca4;
}
.article2-title{
    position: absolute;
    bottom: 45px;
    /* left: 159px;
    right: 159px; */
    right: 150px;
}
.article-3{
    position: relative;
}
.article3-title{
    position: absolute;
    bottom: 45px;
    left: 150px;
}
.article-4{
    position: relative;
}
.article4-title{
    position: absolute;
    bottom: 45px;
    /* left: 159px;
    right: 159px; */
    right: 150px;
}
.article-5{
    position: relative;
}
.article5-title{
    position: absolute;
    bottom: 45px;
    /* left: 159px;
    right: 159px; */
    left: 30px;
}
.article-6{
    position: relative;
}
.article6-title{
    position: absolute;
    bottom: 45px;
    /* left: 159px;
    right: 159px; */
    left: 120px;

}
.article-7{
    position: relative;
}
.article7-title{
    position: absolute;
    bottom: 45px;
    /* left: 159px;
    right: 159px; */
    right: 150px;
}
.article-8{
    position: relative;
}
.article8-title{
    position: absolute;
    bottom: 45px;
    /* left: 159px;
    right: 159px; */
    right: 150px;
}
.footer-top{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}
.footer-title{
    margin-left:30px;
}
.footer-top h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #999999;
}
.social-icons{
    margin-top: 18px;
    padding-left: 20px;
}
.social-icons img{
    padding-left: 15px;
}
.footer-bottom{
    margin-top: 68px;
    padding-left: 20px;
    display: flex;
}
.footer-right{
    margin-left: 30px;
}
.footer-left{
    margin-top: 20px;
}
.footer-bottom h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #666666;


/* Inside auto layout */

flex: none;
order: 8;
flex-grow: 0;
}





